//$('.answer-<%= @answer.id %>').hide();
$('.warning').remove();
$('.answer-<%= @answer.id %>').html("<div class='warning'>Your answer was successfully deleted.</div>");
//$('.answer-<%= @answer.id %>').html("<div class='warning'>Элемент <%= @answer.id %> удалён</div>");
//$('.answer-<%= @answer.id %>').show();
//Удаляем notice
